<!-- Barra de Navegación -->
<md-content ng-controller="HomeController as home" layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div flex>
          <a ui-sref="home.userList">
            <span translate>home-bar.welcome</span>
          </a>
        </div>

        <div flex>
	        <a ui-sref="home.main">
	          <span>Sistema Ge.M.A.</span>
	        </a>
        </div>
        
        

        <!-- Administración de Perfil -->
          <div flex="10">
          	<a ui-sref="home.userProfile" ui-sref-opts="{id: home.user.id}">
          		<span>{{home.user.firstName}} {{home.user.lastName}}</span>
          	</a>   
          </div>    

        <!-- Menu Sttings -->
        <div layout="column" layout-align="center center" flex="5">
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu()">
              <ng-md-icon icon="settings" style="fill: white"></ng-md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button aria-label="ESP" ng-click="home.switchLanguage('es_VE')">
                  <span class="flag-icon flag-icon-es"></span> ESP
                </md-button>
              </md-menu-item>
              <!--md-menu-item>
                <md-button aria-label="ENG" ng-click="home.switchLanguage('en_US')">
                  <span class="flag-icon flag-icon-us"></span>
                </md-button>
              </md-menu-item-->
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                  <md-button aria-label="home-bar.settings.logout" ng-click="home.logout()" translate="home-bar.settings.logout"></md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-toolbar>
</md-content>

<!-- Nuevo UI-View -->
<div ui-view layout="column" layout-fill layout-padding layout-align="center center">
</div>