<!-- Barra de Navegación -->
<div ng-controller="HomeController as home" >
  <md-content layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <div flex>
            <md-button ng-click="toggleLeft()" class="md-icon-button">
              <ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
            </md-button>
          </a>
        </div>

        <div flex>
	        <a ui-sref="home.main">
	          <span>Sistema Ge.M.A.</span>
	        </a>
        </div>
        
        

        <!-- Administración de Perfil -->
          <div flex="10">
          	<a ui-sref="home.userProfile" ui-sref-opts="{id: home.user.id}">
          		<span>{{home.user.firstName}} {{home.user.lastName}}</span>
          	</a>   
          </div>    

        <!-- Menu Sttings -->
        <div layout="column" layout-align="center center" flex="5">
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu()">
              <ng-md-icon icon="settings" style="fill: white"></ng-md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item>
                <md-button aria-label="ESP" ng-click="home.switchLanguage('es_VE')">
                  <span class="flag-icon flag-icon-es"></span> ESP
                </md-button>
              </md-menu-item>
              <!--md-menu-item>
                <md-button aria-label="ENG" ng-click="home.switchLanguage('en_US')">
                  <span class="flag-icon flag-icon-us"></span>
                </md-button>
              </md-menu-item-->
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                  <md-button aria-label="home-bar.settings.logout" ng-click="home.logout()" translate="home-bar.settings.logout"></md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-toolbar>
  </md-content>

  <md-sidenav class="md-sidenav-left" 
                  md-component-id="left"
                  md-whiteframe="4">

    <md-toolbar>
      <h1 class="md-toolbar-tools" translate="side-bar.title"></h1>
    </md-toolbar>

    <md-content layout-margin>
      <a ui-sref="home.wharehouse" layout-align="center center" ng-click="toggleLeft()">
        <span translate="side-bar.wharehouse"></span>
      </a>
    </md-content>

    <md-content layout-margin>
      <a ui-sref="home.company" layout-align="center center" ng-click="toggleLeft()">
        <span translate="side-bar.company"></span>
      </a>
    </md-content>

    <md-content layout-margin>
      <a ui-sref="home.addToInventory" layout-align="center center" ng-click="toggleLeft()">
        <span translate="side-bar.addInventory"></span>
      </a>
    </md-content>


    <md-content layout-margin>
      <!-- Boton de cerrado de la barra -->
      <md-button ng-click="toggleLeft()" class="md-accent" translate= "side-bar.close">
      </md-button>
    </md-content>

  </md-sidenav>

  <!-- Nuevo UI-View -->
  <div ui-view layout="column" layout-fill layout-padding layout-align="center center">
  </div>
</div>